$gradient-blue: linear-gradient(to right, rgb(57, 106, 252), rgb(41, 72, 255));
$background-color: rgba(0, 0, 0, 0) $gradient-blue repeat scroll 0% 0%;

$light-text: white;
$dark-text: black;

nav {
  // background: $background-color;
  height: 90px;
  width: 100vw;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > img {
      height: 80%;
    }

    .page-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      align-items: baseline;
      display: flex;

      .active {
        border-image-slice: 1 !important;
        border-width: 5px !important;
        border-bottom: 2px solid;
        border-image-source: linear-gradient(
          to right,
          rgb(57, 106, 252),
          rgb(41, 72, 255)
        );
      }

      .login {
        border: 2px solid black;
        border-image-slice: 1 !important;
        border-width: 5px !important;
        border-image-source: linear-gradient(
          to right,
          rgb(57, 106, 252),
          rgb(41, 72, 255)
        );
      }

      .signup {
        background: $background-color;
        border: 2px solid black;
        border-image-slice: 1 !important;
        border-width: 5px !important;
        border-image-source: linear-gradient(
          to right,
          rgb(57, 106, 252),
          rgb(41, 72, 255)
        );
        color: white !important;
      }

      li {
        padding: 10px 5px 10px 5px;
        margin: 0px 5px 0px 5px;
        width: 100px;
        float: left;
        text-align: center;

        .select::after {
          content: '\25BC';
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 1em;
          cursor: pointer;
          pointer-events: none;
          -webkit-transition: 0.25s all ease;
          -o-transition: 0.25s all ease;
          transition: 0.25s all ease;
        }
        .select:hover::after {
          color: rgb(41, 72, 255);
        }

        .select {
          position: relative;
          display: flex;
          height: 3em;
          line-height: 3;
          overflow: hidden;
          border-radius: 0.25em;

          .language {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: white;
            background-image: none;

            flex: 1;
            padding: 0 0.5em;
            color: black;
            cursor: pointer;
          }
        }

        a {
          color: $dark-text;
          text-decoration: none;
        }
      }
    }
  }
}
