@import './_nav';

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
}

.container {
  width: 88%;
  margin: auto;
  height: 100%;
}
